<div class="mb-3">
    <label for="$$ID$$" class="form-label">$$LABEL$$</label>
    <input type="$$TYPE$$" class="form-control" id="$$ID$$" name="$$ID$$" placeholder="$$PLACE_HOLDER$$" aria-describedby="$$ID_DESC$$" $$OPT_ARGS$$>
    <div id="$$ID_DESC$$" class="form-text">$$DESCRIPTION$$</div>
</div>

$%$

{
    "defaultsForVariables" : {
        "PLACE_HOLDER" : "",
        "OPT_ARGS" : ""
    }
}

