<div class="mb-3">
    <label for="$$ID$$" class="form-label">$$LABEL$$</label>
    <input type="number" class="form-control" id="$$ID$$" name="$$ID$$" min="$$MIN$$" max="$$MAX$$" step="$$STEP$$" value="$$VALUE$$">
    <div class="form-text">$$DESC$$</div>
</div>


$%$

{
    "defaultsForVariables" : {
    "MIN" : "0",
    "MAX" : "",
    "STEP" : "",
    "VALUE" : "0",
    "DESC" : ""
    }
}
