<div class="mb-3">
    <label class="form-label" for="$$ID$$">$$LABEL$$</label>
    <textarea class="form-control" type="text" placeholder="$$PLACEHOLDER$$" id="$$ID$$" name="$$ID$$" rows="$$ROWS$$">$$VALUE$$</textarea>
    <div class="form-text">$$DESC$$</div>
</div>

$%$

{
    "defaultsForVariables" : {
        "PLACEHOLDER" : "",
        "ROWS" : "3",
        "VALUE" : "",
        "DESC" : ""
    }
}
