<li class="nav-item dropdown">
    <a id="$$ID$$" class="nav-link dropdown-toggle" href="$$HREF$$" data-bs-toggle="dropdown" aria-expanded="false">$$LABEL$$</a>
    <ul class="dropdown-menu">
        $#CONTENT#$
    </ul>
</li>

$%$

{
    "defaultsForVariables" : {
        "HREF" : "#"
    }
}
