<div class="progress">
    <div id="$$ID$$" class="progress-bar $$OPT_CLASSES$$" role="progressbar" aria-label="$$LABEL$$" style="width: $$VALUE$$%" aria-valuenow="$$VALUE$$" aria-valuemin="0" aria-valuemax="100">
        $$VALUE$$ %
    </div>
</div>
