<div class="table-responsive">
    <table class="table $$OPT_CLASSES$$" $$OPT_ATTR$$>
        <thead>
            $HEADER$
        </thead>
        <tbody>
            $#CONTENT#$
        </tbody>
    </table>
</div>
